dd, a, div {
			 box-sizing: border-box;
		-moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-weight: 100;
}

header {
	padding: 24px 2em 1em 2em;
	margin-bottom: 0em;
	background-color: #0C5693;
}

header h1, header h2, header h3, header h4 {
	color: white;
	padding: 0px;
}

.indent {
	margin: .75em;
}

.panel h3, .panel h4 {
	padding: .25em;
}

.panel ul {
	padding: .25em 2em;
}

/*.row {
	margin: 0em;
	max-width: 100%
*/}

/*.heading {
	width: 100%;
	max-width: 100%;
}

.content {
	margin: 0;
	padding: 1em 2.25em;
	border-top: 2px #c1c1c1 solid;
	border-bottom: 2px #c1c1c1 solid;
}

.content table {
	width: 100%;
}

.right-align {
	text-align: right;
	padding-right: 1em;
}

.indented-list {
	margin-left: 1.5em;
	list-style: none;
}
*/

.check-column {
	text-align: center;
	padding-top: .1em;
	padding-bottom: 0em;
}

.check-column input {
	padding: 0;
	margin: 0;
}

.button-header {
	text-align: center;
}

.left-pad {
	padding-left: 2em;
}

/*table {
	width: 100%;
}

table>tbody>tr>td {
	line-height: .6em;
}
*/

.assignment input{
	display: inline-block;
}

.input.panel input {
	display: inline-block;
	width: 10em;
	margin: 0em;
	margin-right: 2.5em;
	height: 3.25em;
}

#newname {
	margin: 0em;
}

#newpass {
	margin: 0em;
	margin-right: .5em;
}

.table-style {
  display: table;
}

.btn-default {
  background-color: #efefef;
}

.btn-default:hover, .btn-default:active {
  background-color: #cfcfcf;
}

.table>thead>tr>th {
  border: none;
}

table {
  border: 1px #ccc dotted;
}