#head {
  background-color: #0C5693;
  color: white;
  margin: 0px;
  padding: 1em 2em;
}

#head h1 {
  font-weight: 100;
}

.topnav {
  padding: .25em .5em .5em;
}

.topnav a {
  font-size: 1.2em;
  font-weight: 200;
}

#main {
  padding: 0em 2em;
}

.button{
  padding: 0px;
  margin: 0px;
}

table {
  border: 1px #ccc dotted;
}

#role-list input[ type='chechbox' ] {
  margin-left: 2em;
}

#role-addition {
  width: 100%;
}

.table>thead>tr>th {
  border: none;
}

.btn-default {
  background-color: #efefef;
}

.btn-default:hover, .btn-default:active {
  background-color: #cfcfcf;
}

#resource-dropdown {
  text-align: left;
}

#selected-resource {
  display: inline-block;
}

.table-style {
  display: table;
}

#new-user-form .form-control{
  width: 50%;
}

.check-column {
  text-align: center;
  padding-top: .1em;
  padding-bottom: 0em;
}

.check-column input {
  padding: 0;
  margin: 0;
}

.right-align {
  text-align: right;
  padding-right: 1em;
}

.center-align {
  text-align: center;
  padding-right: 1em;
}

.row {
  margin: 0;
}

.green {
  color: green;
}

.red {
  color: #a00;
}