
h1, h2, h3, h4 {
	font-weight: 100;
	padding: .25em 1em;
}

header {
	padding: 24px 2em;
	margin-bottom: 2em;
	background-color: #0C5693;
}

header h1, header h2, header h3, header h4 {
	color: white;
	padding: 0px;
}

.panel h3, .panel h4 {
	padding: .25em;
}

.panel ul {
	padding: .25em 2em;
}